@import "../styles/media"

.app-wrapper
  width: 980px
  box-sizing: border-box
  border:
    width: 0
    radius: 4px
  box-shadow: 0 0 0 7px rgba(0, 0, 0, 0.051)
  margin: 70px auto auto auto

  .app-body
    height: 100%
    box-sizing: border-box
    border:
      width: 0
      radius: 4px
    background-color: rgb(253, 253, 253)
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3)
    padding: 20px
    .bottom_aligner
      display: inline-block
      height: 100%
      vertical-align: bottom
      width: 0px

  @include tablet
    max-width: 980px
    width: 100%
    min-height: 579px
    height: auto
